# Logs
*.log
last_log.txt

# OS
.DS_Store

# Backend
backend/target/
backend/help.md
backend/mvnw
backend/mvnw.cmd
backend/.mvn/wrapper/maven-wrapper.properties

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# IDE
.idea/
.vscode/
*.iml
