apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData: # Use stringData for convenience, in prod use base64 encoded data
  password: secure_password
  root-password: root
